{% extends 'public/templates/public_template.html' %}
{% block title %}Profile{% endblock %}

{%block main%}

<div class="container">
    <div class="row">
        <div class="col">
      <h1 style="color:#e3f988">Profile</h1>
      <hr>
      <div class="card">
        <div class="card-body">
          <h4>{{ username | capitalize }}</h4>
          <hr>
          <p><strong>{{user["username"]}}</strong></p>
          <p class="text-muted">{{user["bio"] | title}}</p>
          <p><em>{{user["occupation"] | title}}</em></p>
        </div>
      </div>
        </div>
    </div>
</div>

{%endblock%}